force-app/main/default/flows/ACC_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Stage_1</name>
        <label>Assign Stage 1</label>
        <locationX>15</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Patient_Details_Stage1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Patient_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage2_0</name>
        <label>Stage2</label>
        <locationX>349</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Injury_Details1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Injury_Details_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage2_0_0</name>
        <label>Stage2</label>
        <locationX>502</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Diagnosis_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Diagnosis_Detail_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage2_0_0_0</name>
        <label>Stage2</label>
        <locationX>653</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage4</name>
        <label>Stage4</label>
        <locationX>862</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declaration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Declaration1</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ACC Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACC Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Declaration1</name>
        <label>Declaration</label>
        <locationX>909</locationX>
        <locationY>346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Declaration1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Diagnosis_Detail_0</name>
        <label>Diagnosis Detail</label>
        <locationX>543</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage2_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Diagnosis_Detail_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Diagnosis_Detail_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Injury_Details_0</name>
        <label>Injury Details</label>
        <locationX>413</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage2_0_0</targetReference>
        </connector>
        <fields>
            <name>Injury_Details_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Injury_Details_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Patient_Details</name>
        <label>Patient Details</label>
        <locationX>224</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage2_0</targetReference>
        </connector>
        <fields>
            <name>Patient_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>731</locationX>
        <locationY>330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stage4</targetReference>
        </connector>
        <fields>
            <name>Summary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Declaration</name>
        <isActive>true</isActive>
        <label>Declaration</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Diagnosis_Details</name>
        <isActive>true</isActive>
        <label>Diagnosis Details</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Injury_Details1</name>
        <isActive>true</isActive>
        <label>Injury Details</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Patient_Details_Stage1</name>
        <isActive>true</isActive>
        <label>Patient Details</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Summary1</name>
        <isActive>true</isActive>
        <label>Summary</label>
        <stageOrder>4</stageOrder>
    </stages>
    <startElementReference>Assign_Stage_1</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Declaration_Text</name>
        <text>&lt;p&gt;Are you sure you want to proceed&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Left_Nav1</name>
        <text>&lt;ol class=&quot;site_left_nav&quot;&gt;&lt;li class=&quot;active&quot;&gt;Patient Details&lt;/li&gt;&lt;li&gt;Injury Details&lt;/li&gt;&lt;li&gt;Diagnosis Details&lt;/li&gt;&lt;li&gt;Summary&lt;/li&gt;&lt;li&gt;Declaration&lt;/li&gt;&lt;/ol&gt;
&lt;div style=&quot;padding: 24px;&quot;&gt;
&lt;p style=&quot;color:#797979; font-size: 13px;&quot; class=&quot;left_nav_label&quot;&gt;Last Saved 1 Minute Ago&lt;/p&gt;

&lt;p style=&quot;font-size: 16px; color: #000;&quot; class=&quot;left_nav_content&quot;&gt;
Use this form to update, add or remove diagnoses for a patient relating to an ACC Claim. All fields are required unless marked Optional.
You can save the form at any time by using the Park this form button at the bottom of the form and come back to it later in the Parked Submissions section. Parked forms are saved for 2 weeks.
&lt;/p&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Left_Nav2</name>
        <text>&lt;div class=&quot;site_left_nav_div&quot;&gt;
&lt;ol class=&quot;site_left_nav&quot;&gt;
&lt;li class=&quot;success&quot;&gt;Patient Details&lt;/li&gt;
&lt;li class=&quot;active&quot;&gt;Injury Details&lt;/li&gt;
&lt;li&gt;Diagnosis Details&lt;/li&gt;
&lt;li&gt;Summary&lt;/li&gt;
&lt;li&gt;Declaration&lt;/li&gt;
&lt;/ol&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Left_Nav3</name>
        <text>&lt;div class=&quot;site_left_nav_div&quot;&gt;
&lt;ol class=&quot;site_left_nav&quot;&gt;
&lt;li class=&quot;success&quot;&gt;Patient Details&lt;/li&gt;
&lt;li class=&quot;success&quot;&gt;Injury Details&lt;/li&gt;
&lt;li class=&quot;active&quot;&gt;Diagnosis Details&lt;/li&gt;
&lt;li&gt;Summary&lt;/li&gt;
&lt;li&gt;Declaration&lt;/li&gt;
&lt;/ol&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Left_Nav4</name>
        <text>&lt;div class=&quot;site_left_nav_div&quot;&gt;
&lt;ol class=&quot;site_left_nav&quot;&gt;
&lt;li class=&quot;success&quot;&gt;Patient Details&lt;/li&gt;
&lt;li class=&quot;success&quot;&gt;Injury Details&lt;/li&gt;
&lt;li class=&quot;success&quot;&gt;Diagnosis Details&lt;/li&gt;
&lt;li class=&quot;active&quot;&gt;Summary&lt;/li&gt;
&lt;li&gt;Declaration&lt;/li&gt;
&lt;/ol&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Left_Nav5</name>
        <text>&lt;div class=&quot;site_left_nav_div&quot;&gt;
&lt;ol class=&quot;site_left_nav&quot;&gt;
&lt;li class=&quot;success&quot;&gt;Patient Details&lt;/li&gt;
&lt;li class=&quot;success&quot;&gt;Injury Details&lt;/li&gt;
&lt;li class=&quot;success&quot;&gt;Diagnosis Details&lt;/li&gt;
&lt;li class=&quot;success&quot;&gt;Summary&lt;/li&gt;
&lt;li class=&quot;active&quot;&gt;Declaration&lt;/li&gt;
&lt;/ol&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Patient_Details_Left_Nav</name>
        <text>&lt;ol class=&quot;site_left_nav&quot;&gt;
&lt;li&gt;Patient Details&lt;/li&gt;
&lt;/ol&gt;</text>
    </textTemplates>
</Flow>
